
@{

    Layout = null;
}

<thead>
    <tr>
        <th>Kategori Adı</th>
        <th>Url</th>
        <th>Üst Kategori</th>
        <th></th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
        <tr>

            <td>@item.Name</td>
            <td>@item.UrlName </td>
            <td>@item.ParentId</td>
            <td>
                <a onclick="deleteCategory(@item.Id);" class="btn btn-warning">Sil</a>

            </td>
        </tr>
    }
</tbody>



